body {
    font-family: Arial, sans-serif;
    background-color: #DDF1F3;
    color: #173B7E;
    margin: 0;
}

nav{
    margin-top: 75px;
    margin-left: 45vw;
    margin-right: 5vw;
}

nav ul {
    display: flex;
    justify-content: space-around;
    /* background-color: #333; */
    padding: 10px;
    list-style-type: none;
}

nav ul li a {
    color: #173B7E;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 15px;
    transition: background-color .5s, color .5s;
    font-weight: bold;
    border: #173B7E solid 1px;
}

.container, .main, form {
    margin: 50px auto;
    padding: 90px 0px 90px 60px;
    width: 50%;
    background-color: #8AD110;
    border-radius: 50px;

}

h1{
    font-size: 8em;
    margin: 0;
}

p{
    font-size: 2.5em;
    margin: 0;
}

input, button {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

nav ul li a:hover{
    color: #DDF1F3;
    background-color:  #173B7E;
}